<!DOCTYPE html>
<html>
<head>
  <title>WCorkBoard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "WCB", '#', id: "logo" %>
        <nav>
          <ul class="nav pull-right">
            #ここにリンクなどを入れる
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
