<!DOCTYPE html>
<html>
  <head>
    <title>WCorkBoard</title>
    <%= stylesheet_link_tag    "users", :media => "all" %>
    <%= csrf_meta_tags %>
    <script src="http://yui.yahooapis.com/3.5.0/build/yui/yui-min.js"></script>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
