<!DOCTYPE html>
<html>
  <head>
    <title>WCorkBoard</title>
    <%= yield :head %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
